.section-turbo-gpu {
  width: 100%;
  height: 100%;
  background-color: #000000;

  .section-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 65px);

    .headline {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .turbo-os {
        position: relative;
        transform-origin: bottom;
        overflow: hidden;

        .fill-top {
          position: absolute;
          top: 1px;
          left: 1px;
          z-index: -1;
          width: calc(100% - 2px);
          height: 50%;
          background-color: #ffffff;
        }

        .fill-bottom {
          position: absolute;
          right: 1px;
          bottom: 1px;
          z-index: -1;
          width: calc(100% - 2px);
          height: 50%;
          background-color: #ffffff;
        }

        img {
          width: 100%;
        }
      }

      .headline-wrapper {
        position: relative;

        .mask {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(90deg, #000 var(--gradient-left), transparent 50%, #000 var(--gradient-right));
          --gradient-left: 50%;
          --gradient-right: 50%;
        }

        .title {
          margin-block-start: 1.5625vw;
          font-family: "HYQiHei70S";
          font-size: 2.5vw;
          color: #ffffff;
        }
      }
    }

    .section-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 3.645833vw;

      img {
        width: 50vw;
        height: 23vw;
      }
    }
  }
}