.section-magic-guard {
  width: 100%;
  height: 100%;
  background-color: #000000;

  .section-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 65px);

    .title {
      margin-block-start: 0.520833vw;
      font-family: 'HYQiHei-70S';
      font-size: 3.333333vw;
      color: #FFFFFF;
      opacity: 0;
    }

    .subtitle {
      margin-block-start: 1.04167vw;
      font-size: 2.5vw;
      color: #FFFFFF;
      opacity: 0;
    }

    .intro {
      margin-block-start: 1.04167vw;
      font-size: 0.9375vw;
      color: #256FFF;
      line-height: 1.5;
      cursor: pointer;
      opacity: 0;
    }
  }
}