.header__box {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #ECECEC;
  background-color: #FFFFFF;
}

.header__wrapper {
  position: relative;
  width: 100%;
  min-width: 1200px;
  max-width: 1440px;
  height: 100%;
  padding-inline: 20px;
  margin: 0 auto;
  box-sizing: border-box;

  .logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10vw;
    min-width: 80px;
    max-width: 100px;
    height: 23px;
    background: url(@/assets/images/logo.svg) center / 100% 100% no-repeat;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .item {
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      margin-inline: 16px;
      font-size: 14px;
      color: #000000;
      cursor: pointer;
    }

    .item::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: #000000;
      transition: 0.4s ease;
    }

    .item:hover {
      &::after {
        width: 100%;
      }
    }
  }
}