@font-face {
  font-family: 'HYQiHei-50S';
  src: url('../fonts/HYQiHei-50S.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HYQiHei-70S';
  src: url('../fonts/HYQiHei-70S.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'HYQiHei-50S';
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-ellipsis-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}